.comics-detail {
    background-image: url('/images/jumbotron.jpg');
  
    background-size: cover;
   height: 450px;
   border-bottom: 50px solid #0182f9; 
   color: white;

   .container{
       padding: 0 8rem;
       height: 100%;
       position: relative;
       .card-single {
           display: flex;
           align-items: flex-end;
           height: 100%;
           transform: translateY(40px);
           .im{
            border: 0.5px solid white;
           }
              
               .text-1 {
                position: absolute;
                transform: translateX(1px) translateY(-270px);
                background-color: #61aef7;
                padding: 1px 5px 2px 7px;
              }

              .text-2 {
                position: absolute;
                background-color: #61aef7;
                padding: 1px 50px 2px 51px;
                transform: translateY(-1px) translateX(1px);
              }  
       }
   }
}

.container-2 {
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0 19rem;
    color: white;
  .section-left{
     padding-right: 30px;
     width: 67%;
     h1 {
         color: #1c3d57
     }
     p {
         line-height: 25px;
         color: #76787a;
         font-size: 14px;
     }
     .prezzo {
         background-color: #55ba5a;
         border-bottom: 2px solid #55ba5a;
         margin: 15px 0;
         padding: 5px;
         .padding {
            padding: 3px;
        }
        
     }
     .d-flex {
         border-right: 2px solid rgb(15, 136, 15);
     }
    } 
}

.section-right {
    width: 33%;
    h2 {
        font-size: 14px;
        color: #807d7d;
        text-align: end;
    }
}



