.comics-detail {
    background-image: url('/images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   height: 450px;
   border-bottom: 50px solid #0182f9; 

   .container{
       padding: 0 7rem;
       height: 100%;
       position: relative;
       .card-single {
           display: flex;
           align-items: flex-end;
           height: 100%;
           transform: translateY(40px);
       }
   }
}

