.bg {
    background-color: #383737;
   
}
.content {
    display: flex;
    justify-content: space-between;
}


h2{
    margin-top: 0.9rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    color:  rgb(68, 68, 247);
}
.padding {
    display: flex;
    list-style: none;
    padding-top: 20px; 
}
a{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 501;
    font-size: 12px;
}