.main-header {
   
    .container {
        display: flex;
        list-style: none;
        align-items: center;
    }
    img {
        width: 65px;
    }


ul {
    display: flex;
    list-style: none;
    margin-left: 20px;
    a {
        line-height: 100px;
        display: inline-block; 
        margin-left: 20px;   
        height: 100px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        color: $text-color;
        border-bottom: 4px solid transparent;
        &.active {
            border-color: blue;
        }
        &:hover{
            color: blue;
        }

    }
}

}
