.container {
    width: 1170px;
     margin: 0 auto; 
    padding: 0 1rem; 
}
.text-center {
    text-align: center;
}

.btn {
    padding: 10px 50px;
    background-color: #4444f7;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

